:root {
    --tekhelet: #49306bff;
    --ultra-violet: #635380ff;
    --mountbatten-pink: #90708cff;
    --celadon: #ace4aaff;
    --dun: #e1cdb5ff;
    --light-dun: #F9F5F1;
    --delete-button: #911911;
    --edit-button: #6490ff;
}
